@charset "utf-8";

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}




body {
    font-family: 'LeeSeoyun';
    font-weight: 300;
    height: 100vh;
    text-align: center;
    /* background: rgb(238, 238, 238); */
    background-image: url('/lotto_im.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ex_img {
    position: fixed;
    left: -100%;
    box-sizing: border-box;
    width: 300px;
    border: 3px solid #333;
    background: #666;
    color: #f1f1f1;
    text-align: left;
}

.ex_img img {
    width: 100%;
}

.ex_img ul {
    padding: 5px;
    box-sizing: border-box;
}

.ex_img.on {
    left: 0;
}

.ex_btn {
    position: fixed;
    top: 84px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px 6px;
    z-index: 500;
    background: #fff;
}

#result {
    height: 70px;
    line-height: 70px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    width: 312px;
    margin: 0 auto;
    text-align: left;
}

#bonus {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ball {
    display: inline-block;
    border: 1px solid rgb(41, 83, 50);
    border-radius: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
    animation: ss 1s;
}

@keyframes ss {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    /* background: rgba(226, 226, 226, 0.514); */
    border-bottom: 1px solid #666;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
}

#btn_wrap {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#btn_wrap button {
    font-family: 'LeeSeoyun';
    flex: 1 0 auto;
    max-width: 200px;
    background: none;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 20px 0;
    margin: 0 5px;
    font-size: 26px;
    box-shadow: 0 0 3px #000;
    transition: 0.1s;
    background: rgba(197, 255, 186, 0.548);
    cursor: pointer;
}

#btn_wrap #reload {
    background: rgb(224, 187, 187);
}

#btn_wrap button:active {
    background: dodgerblue;
    color: #fff;
    transform: translateY(3px);
    box-shadow: none;
}

.history {
    margin-top: 20px;
}

.history li .ball {
    margin-bottom: 10px;
}

/* 2022.03.10. */
.store_wrap {
    max-width: 600px;
    margin: 0 auto;
}

.store_input {
    font-size: 14px;
    padding: 9px 5px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    vertical-align: top;
    width: 46%;
}

.si_store {
    font-size: 14px;
    padding: 8px 2px;
    border: 1px solid #999;
    background: rgb(208, 234, 255);
    border-radius: 5px;
    width: 22%;
    cursor: pointer;
}

.si_store:active {
    background: dodgerblue;
    color: #fff;
}

.si_load {
    font-size: 14px;
    padding: 8px 2px;
    border: 1px solid #999;
    background: rgb(235, 230, 171);
    border-radius: 5px;
    width: 22%;
    cursor: pointer;
}

.si_load:active {
    background: dodgerblue;
    color: #fff;
}